:root {
  --main-color: #5C7AEA;
  --transparent-color: #5c7beaab;
  --text-color: #2C394B;
  --section-padding: 100px;
}
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  color: var(--text-color);
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  background-color: var(--text-color);
  width: 120px;
  height: 2px;
}
.main-heading h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -37px;
  transform: translateX(-50%);
  border: 1px solid var(--text-color);
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.main-heading p {
  color: #777;
  line-height: 1.6;
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
}
/* End Components */
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
}
header img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}
header nav ul li a:hover ,
header nav ul li a.active{
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  padding-left: 20px;
  position: relative;
  border-left: 1px solid #a2a2a2;
  margin-left: 30px;
}
header nav svg {
  color: #fff;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #0000007a;
  }
  header nav .toggle-menu:hover + ul li a {
    border: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url('../images/landing.jpg');
  background-size: cover;
  position: relative;
}
.landing .text {
  background-color: var(--transparent-color);
  width: 50%;
  padding: 40px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text {
    width: 80%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .change-background:first-of-type {
  left: 30px;
}
.landing .change-background:last-of-type {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  border: 1px solid #fff;
  cursor: pointer;
  transition-duration: 0.3;
}
@media (max-width: 767px) {
  .landing .bullets li {
    width: 15px;
    height: 15px;
  }
}
.landing .bullets li.active,
.landing .bullets li:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    row-gap: 60px;
    column-gap: 40px;
  }
}
.services .services-container .box {
  display: flex;
}
@media (max-width: 767px) {
  .services .services-container .box {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .services .services-container .box {
    display: block;
    text-align: center;
  }
}
.services .services-container .box svg {
  color: var(--text-color);
  margin-right: 70px;
}
@media (max-width: 767px) {
  .services .services-container .box svg {
    margin: 0 0 30px;
  }
}
.services .services-container .box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .services-container .box p {
  color: #777;
  line-height: 1.7;
}
/* End Services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: url('../images/design.jpg') center center;
  background-size: cover;
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design img,
.design .text {
  position: relative;
  z-index: 1;
  flex: 1;
}
.design img {
  height: 600px;
  bottom: -120px;
}
.design .text {
  background-color: var(--transparent-color);
  color: #fff;
  padding: 40px;
  right: 0;
}
@media (max-width: 991px) {
  .design img {
    display: none;
  }
}
.design .text h2 {
  margin-bottom: 40px;
}
.design .text li {
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.822);
}
.design .text li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f109';
  font-weight: 900;
  margin-right: 20px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px 25px;
  margin: 0 10px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}
.portfolio .shuffle li.active,
.portfolio .shuffle li:hover {
  background-color: var(--main-color);
  color: #fff;
}
.portfolio .imgs-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  bottom: -100%;
  padding: 20px 40px;
  background-color: #fff;
  width: 100%;
  transition: 0.3s;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: scale(1.1) rotate(3deg);
}
.portfolio .imgs-container .box .caption h4 {
  color: var(--text-color);
  margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
  color: var(--main-color);
}
.portfolio a {
  display: block;
  width: fit-content;
  padding: 15px 40px;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.portfolio a:hover {
  background-color: #fff;
  color: var(--main-color);
  border-color: #fff;
  box-shadow: 0 0 3px 0px #5e5e5e6b;
}
/* End Portfolio */